# Virtual Environment
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Database files
*.db
*.sqlite
*.sqlite3

# Operating System files
.DS_Store
Thumbs.db
.idea/
.vscode/
